.login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 14px;
}

.item {
  padding: 18px 0;
}

.box-card {
  width: 455px;
  height: 460px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 12px 15px 20px -1px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 12px 15px 20px -1px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 12px 15px 20px -1px rgba(0, 0, 0, 0.14);
  border: none;
  border-radius: 10px;
}

.input {
  /* margin: 6px 0px 24px 0px; */
  height: 44px;
}

:deep(.el-input__wrapper) {
  border-radius: 4px !important;
  background-color: #f3f5f9 !important;
}

.btn {
  width: 100%;
  border-radius: 12px;
  background-color: #e5af5e;
  color: #fff;
  font-weight: bold;
  margin: 10px 0 32px 0;
}

.btn:hover {
  background-color: #eebe77;
  border-color: #eebe77;
}

.btn:active {
  background-color: #b88230;
  border-color: #eebe77;
}

img {
  width: 127px;
  height: 52px;
  display: block;
  margin: 0 auto;
}

label {
  margin-left: 20px;
  color: #101213;
  font-weight: bold;
}

h2 {
  text-align: center;
  color: #101213;
  font-weight: bold;
  margin: 8px 0 25px 0;
}
